In [2]:
import pandas as pd

In [66]:
df = pd.read_csv('../esi/files/esi2020.csv', date_parser = ['date'])

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           461656 non-null  object
 1   tip_movi       500000 non-null  object
 2   tip_naci       461656 non-null  object
 3   sex_migr       461656 non-null  object
 4   nac_migr       461656 non-null  object
 5   via_tran       461656 non-null  object
 6   mot_viam       461656 non-null  object
 7   pais_prod      461656 non-null  object
 8   lug_prod       461656 non-null  object
 9   pais_res       461656 non-null  object
 10  jef_migr       461656 non-null  object
 11  can_jefm       461656 non-null  object
 12  lat_can_jefm   461627 non-null  float64
 13  lng_can_jefm   461627 non-null  float64
 14  iso_nac_migr   351861 non-null  object
 15  lat_nac_migr   500000 non-null  float64
 16  lng_nac_migr   500000 non-null  float64
 17  iso_pais_prod  195611 non-null  object
 18  lat_pais_prod  500000 non-null  float64
 19  lng_pais_prod  500000 non-null  float64
dtypes: float64(6), object(14)
memory usage: 76.3+ MB

In [46]:
df.loc[df['lat_can_jefm'].isna(), 'can_jefm'].unique()

array([nan, 'Tulcan', 'Sucumbios', 'Macara', 'Espindola'], dtype=object)

In 2017: cities lacking lat and lng coordiantes are 'Macará', 'Tulcán' \
In 2018: cities lacking lat and lng coordiantes are 'Macará', 'Tulcán' \
Same for 2019\
In 2020: cities lacking lat and lng coordiantes are 'Sucumbios', 'Espindola'\
In 2021: cities lacking lat and lng coordiantes are 'Tulcán' \

In [47]:
# PICTURE FOR 2020
df.groupby(['can_jefm']).agg({'can_jefm': 'size'})

                           can_jefm
can_jefm
Esmeraldas                      314
Espindola                        12
Guayaquil                     34359
Huaquillas                    14819
Latacunga                         1
Loja                           1396
Macara                         1979
Manta                           114
Quito                         34055
Salinas                          28
San Lorenzo de Esmeraldas        52
Sucumbios                       441
Tulcan                         4772

In [54]:
# AFTER CHANGING DICTIONARY AND INCLUDING WORDS WITHOUT ACCENT
df.groupby(['can_jefm']).agg({'can_jefm': 'size'})

                           can_jefm
can_jefm
Esmeraldas                      314
Guayaquil                     34359
Huaquillas                    14819
Latacunga                         1
Loja                           1408
Macará                         1979
Manta                           114
Nueva Loja                      441
Quito                         34055
Salinas                          28
San Lorenzo de Esmeraldas        52
Tulcán                         4772

In [49]:
# PICTURE FOR 2017
df.groupby(['can_jefm']).agg({'can_jefm': 'size'})

                           can_jefm
can_jefm
Esmeraldas                        5
Guayaquil                       562
Huaquillas                     3508
Loja                             20
Macará                           67
Manta                             8
Nueva Loja                      361
Puerto Baquerizo Moreno           1
Quito                          1128
San Lorenzo de Esmeraldas         7
Tulcán                        94331
Zamora                            2

In [ ]:
# AFTER CHANGING DICTIONARY AND INCLUDING WORDS WITHOUT ACCENT
df.groupby(['can_jefm']).agg({'can_jefm': 'size'})

                           can_jefm
can_jefm
Esmeraldas                        5
Guayaquil                       562
Huaquillas                     3508
Loja                             20
Macará                           67
Manta                             8
Nueva Loja                      361
Puerto Baquerizo Moreno           1
Quito                          1128
San Lorenzo de Esmeraldas         7
Tulcán                        94331
Zamora                            2

Problem at esi2020.csv file. All values across many columns are store just under one field, one columns.

In [6]:
df = pd.read_csv('../downloads/esi2020.csv')

In [7]:
df.shape

(1048574, 24)

In [84]:
df.columns

Index(['tip_movi', 'tip_naci', 'anio_movi', 'mes_movi', 'dia_movi', 'sex_migr',
       'nac_migr', 'subcont_nac', 'cont_nac', 'via_tran', 'mot_viam',
       'pais_prod', 'subcont_prod', 'cont_prod', 'lug_prod', 'pais_res',
       'subcont_res', 'cont_res', 'jef_migr', 'pro_jefm', 'can_jefm',
       'cla_migr', 'ocu_migr', 'edad'],
      dtype='object')

# AGGREGATING

In [38]:
import pandas as pd
pd.options.display.max_columns = 50
df = pd.read_csv('../files/esi2020.csv', parse_dates=['date'])

In [39]:
df = df.groupby(
    [df['date'].dt.strftime('%Y-%m'),
    'tip_movi', 'tip_naci', 'sex_migr', 'nac_migr', 'via_tran',
    'mot_viam', 'pais_prod', 'lug_prod', 'pais_res', 'jef_migr', 'can_jefm',
    'lat_can_jefm', 'lng_can_jefm', 'iso_nac_migr', 'lat_nac_migr',
    'lng_nac_migr', 'iso_pais_prod', 'lat_pais_prod', 'lng_pais_prod']
).size().reset_index().rename(columns={0:'count'})

In [40]:
df.head()

,date,tip_movi,tip_naci,sex_migr,nac_migr,via_tran,mot_viam,pais_prod,lug_prod,pais_res,jef_migr,can_jefm,lat_can_jefm,lng_can_jefm,iso_nac_migr,lat_nac_migr,lng_nac_migr,iso_pais_prod,lat_pais_prod,lng_pais_prod,count
0,2020-01,Entrada,Ecuatoriano,Hombre,Ecuador,Vía Aérea,Eventos,Alemania,Berlín,Alemania,Aeropuerto Internacional José Joaquín de Olmedo,Guayaquil,-2.1833,-79.8833,EC,-1.831239,-78.183406,DE,51.165691,10.451526,2
1,2020-01,Entrada,Ecuatoriano,Hombre,Ecuador,Vía Aérea,Eventos,Alemania,Berlín,Ucrania,Aeropuerto Internacional José Joaquín de Olmedo,Guayaquil,-2.1833,-79.8833,EC,-1.831239,-78.183406,DE,51.165691,10.451526,1
2,2020-01,Entrada,Ecuatoriano,Hombre,Ecuador,Vía Aérea,Eventos,Alemania,Dusseldorf,Alemania,Aeropuerto Internacional José Joaquín de Olmedo,Guayaquil,-2.1833,-79.8833,EC,-1.831239,-78.183406,DE,51.165691,10.451526,3
3,2020-01,Entrada,Ecuatoriano,Hombre,Ecuador,Vía Aérea,Eventos,Alemania,Frankfurt,Alemania,Aeropuerto Internacional José Joaquín de Olmedo,Guayaquil,-2.1833,-79.8833,EC,-1.831239,-78.183406,DE,51.165691,10.451526,4
4,2020-01,Entrada,Ecuatoriano,Hombre,Ecuador,Vía Aérea,Eventos,Alemania,Frankfurt,Alemania,Aeropuerto Internacional Mariscal Sucre,Quito,-0.2186,-78.5097,EC,-1.831239,-78.183406,DE,51.165691,10.451526,1